// Bootstrap and custom variables
@import './custom-variables';
@import "~bootstrap/scss/bootstrap";

// Responsive font size
@import "../../node_modules/rfs/scss.scss";

// Component styles
@import './layout.scss';
@import './headerbanner.scss';
@import './burgersection.scss';
@import './burgerSubSection.scss';

body {
  margin: 0;
  font-family: bilo, sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  background: #0D0D0D;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700 !important;
    font-style: normal;
  }

  a {
    text-decoration: none;
  }
}