.headerbanner-outer-container {
  height: 90vh;
  background: -webkit-linear-gradient(bottom, rgba(13, 13, 13, 1), rgba(13, 13, 13, .2), rgba(13, 13, 13, 0)), url(../assets/images/iStock-617759204.jpg) no-repeat center; content: "";
  background-size: cover;
  display: grid;

  .headerbanner-inner-container {
    align-self: end;
    padding-bottom: 150px;

    h1 {
      @include font-size(5rem);
      font-weight: 800 !important;
      margin-bottom: 0;
      width: 100%;
    }

    .headerbanner-cta {
      @include margin-top(6rem);
      width: 100%;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

@include media-breakpoint-up(md) {
  .headerbanner-inner-container {
    h1 {
      width: 70% !important;
    }

    .headerbanner-cta {
      width: 30% !important;
      text-transform: uppercase;
    }
  }
}